{% extends 'layout.twig' %}

{% block body %}
<form method="post">

    <div class="u-full-width">
        <label for="text">
            Формат заполнения: <code>Сумма</code> <code>Описание</code>.
            Например: <code>42.99 Орбит без сахара</code>
        </label>
        <input class="u-full-width" type="text" placeholder="" id="text" name="text">
    </div>

    {#<div class="row">#}

        {#<div class="three columns">#}
            {#<label>Сумма</label>#}
            {#<input class="u-full-width" type="number" placeholder="100" name="value" id="value">#}
        {#</div>#}

        {#<div class="nine columns">#}
            {#<label>Описание (через запятую)</label>#}
            {#<input class="u-full-width" type="text" placeholder="" id="tags" name="tags">#}
        {#</div>#}

    {#</div>#}

    {#<label>Комментарий</label>#}
    {#<textarea class="u-full-width" placeholder="..." id="comment" name="comment"></textarea>#}

    <input class="button-primary u-pull-right" type="submit" value="Сохранить">

</form>

{% if list is not empty %}
<div class="u-full-width">
    <table class="u-full-width">
        <colgroup>
            <col width="50%" />
            <col width="15%" />
            <col width="35%" />
        </colgroup>
        <thead>
        <tr>
            <th>Описание</th>
            <th>Сумма</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        {% for purchase in list %}
        <tr>
            <td>{{ purchase.details }}</td>
            <td>{{ purchase.value }}</td>
            <td>{{ purchase.made_at }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>





</div>
{% endif %}
{% endblock %}